<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Delivery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
</head>
<body>
	<div class="container">
	
		<h3>Delivery</h3>
		<hr/>
		
	    <form  th:action="@{/saveDelivery}" th:object="${delivery}" method="POST" >
	    	<p>Email: <input type="text" th:field="*{email}" /></p>
	        <p>Phone Number: <input type="text" th:field="*{phoneNumber}" /></p>
	        <p>Address: <input type="text" th:field="*{address}" /></p>
	        <p>Ville: <input type="text" th:field="*{ville}" /></p>
	        <p>Region: <input type="text" th:field="*{region}" /></p>
	        
	        <button type="submit" class="btn btn-primary col-2">Save</button>
	      
	    </form>
	    
	    </div>
</body>
</html>